@font-face {
    font-family: 'lakeshore';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/LAKESHOR-webfont.eot');
    src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LAKESHOR-webfont.woff') format('woff'), 
         url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
         url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');     
}

body {
    background-image: linear-gradient(to right, Aqua, DeepSkyBlue);
    font-size: 10px;
}

.thumbnail-title {
    background: rgb(96, 125, 139);
    color: rgb(202, 238, 255);
    font-size: 18px;
    display: block;
    margin: 0;
    padding: 0.4em 1em;
}

a[href="#"] {
    text-decoration: none;
}

.thumbnail-image {
    display: block;
    width: 100%;
}

.thumbnail-item {
    display: block;
    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, 0.8);
}

.thumbnail-item + .thumbnail-item {
    margin-top: 10px;
}

.thumbnail-list {
    list-style: none;
    padding: 0;
}

.logo-text {
    background: white;
    font-size: 37px;
    font-family: lakeshore;
    text-align: center;
    text-transform: uppercase;
}